

.outer-square {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; 
}

.inner-square {
  background-color: #ff5722; 
  height: 100%;
}

.circle {
  background-color: #03a9f4; 
  height: 100%;
  border-radius: 50%;

}
